.navbar li {
    display: inline-block;
    text-align: center;
  }
  
  .itemLeft {
    width: 10%;
  }
  
  .itemCenter {
      width: 40%;
  }
  
  .itemRight {
    width: 25%;
  }

  .itemRight2 {
    width: 25%;
  }
  
  .navbar {
    background: #9b0911;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  
  li {
    color: white;
    padding: 15px 0;
  }
  
  body {
    font-size: 24px;
  }